.orderPriceContainer{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 16px 0px 5px 0px;
  border-width: 1px 0px 1px 0px;
  border-style: solid;
  border-color: #E5E7EB;
}
.orderProductPriceContainer{
  display: flex;
  justify-content: space-between;
}
.orderCouponPriceContainer{
  display: flex;
  justify-content: space-between;
}
.orderPointPriceContainer{
  display: flex;
  justify-content: space-between;
}
.orderDeliveryPriceContainer{
  display: flex;
  justify-content: space-between;
}
.orderFinalPriceContainer{
  display: flex;
  padding: 16px 0px 0px 0px;
  gap: 0px 10px;
  justify-content: space-between;
}

/* text */
.orderPriceContainer{
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  letter-spacing: 0px;
}
.orderProductPriceTitle{
  color: #4B5563;
}

.orderProductPrice{
  font-weight: 500;
  color: #000000;
}
.orderCouponPriceTitle, .orderCouponPrice{
  color: #16A34A;
}
.orderPointPriceTitle, .orderPointPrice{
  color: red
}
.orderDeliveryPriceTitle
{
  color: #4B5563;
}
.orderDeliveryPrice{
  font-weight: 500;
  color: #000000;
}
.orderFinalPriceTitle, .orderFinalPrice{
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0px;
  color: #000000;
}