.dropdown-container {
  position: relative;
  width: 24rem;
}

.dropdown-button {
  width: 100%;
  padding: 0.75rem 1rem;
  border: 1px solid #e5e7eb;
  border-radius: 0.5rem;
  background-color: #ffffff;
  color: #1f2937;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease, box-shadow 0.2s ease;
}

.dropdown-button:hover {
  background-color: #f9fafb;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.dropdown-menu {
  position: absolute;
  top: calc(100% + 0.5rem);
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #e5e7eb;
  border-radius: 0.5rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.dropdown-content {
  padding: 1rem;
  margin-top: -10px;
  margin-bottom: -10px;
}

.coupon-box {
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid #e5e7eb;
  border-radius: 0.5rem;
  background-color: #ffffff;
  cursor: pointer;
  transition: background-color 0.2s ease, border-color 0.2s ease;
}

.coupon-box:hover {
  background-color: #f9fafb;
}

.coupon-box.disabled {
  background-color: #f9f9f9;
  color: #9ca3af;
  border-color:#e5e7eb;
  cursor: not-allowed;
}

.coupon-name {
  font-weight: bold;
  color: #1f2937;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

.coupon-description {
  font-size: 1rem;
  line-height: 1.5;
  color: #444648;
  margin-bottom: 10px;
}

.coupon-expiry,
.coupon-condition,
.coupon-status {
  font-size: 0.875rem;
  color: #7b7e83;
}

.divider {
  border: none;
  border-top: 1px solid #e5e7eb;
  margin: 1rem 0;
}

.used-coupons-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1rem;
  cursor: pointer;
  margin-top: -10px;
}

.used-coupons-header:hover {
  background-color: #f9fafb;
}

.used-coupons-title {
  font-weight: bold;
  color: var#1f2937;
}

.used-coupon-button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #e3e6eb;
  color:#ffffff;
  font-size: 0.875rem;
  margin-left: auto;
  display: block;
  color: #7b7e83;
  margin-top: -30px;
}

