.product-board-container {
  width: 100%;
  padding: 20px;
  background-color: #fff;
}

.product-table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
}

.product-table th,
.product-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.edit-btn {
  background-color: blue;
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

.delete-btn {
  background-color: red;
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}
