.dashboard-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.dashboard-layout {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.dashboard-container {
  flex-grow: 1;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: calc(100% - 250px);
}

.dashboard-title {
  font-size: 24px;
  font-weight: bold;
}

.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

.dashboard-card {
  padding: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #ffffff;
}

.card-title {
  font-size: 18px;
  margin-top: 0px;
}

.card-value {
  font-size: 24px;
  font-weight: bold;
}

.card-change {
  font-size: 14px;
}

.positive {
  color: green;
}

.negative {
  color: red;
}

.dashboard-content {
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 24px;
}

.chart-container {
  background: white;
  padding: 16px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.chart-title{
  font-size: 20px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 30px;
}

.table-container {
  background: white;
  padding: 16px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.table-title{
  font-size: 20px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 30px;
}

.product-sales-container {
  background: white;
  padding: 16px;
  border-radius: 8px;
  border: 1px solid #ddd;
  margin-top: 24px;
}

.data-table {
  width: 100%;
  border-collapse: collapse;
}

.data-table th, .data-table td {
  border-bottom: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.data-table th {
  background: #f9f9f9;
}
