/* 기존 CSS */
body {
  background: #F9FAFB;
}

.bodyContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}

.orderLeft {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.orderContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.orderRight {
  flex: 1 1 100%;
}

@media (min-width: 768px) {
  .orderContainer {
    flex-direction: row;
  }

  .orderRight {
    flex: 1;
  }
}

