.footer-container{
  display: flex;
  /* height: 235px; */
  padding: 48px 10px;
  gap: 0px 10px;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 200px;
  background: #3A5372;
}
.footer-section1{
  display: flex;
  flex-direction: column;
  /* gap: 5px; */
}
.footer-text-number{
  padding-bottom: 10px;
}
.footer-section2{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.footer-section3{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.footer-section4{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.footer-heading{
  padding-bottom: 15px;
}
.footer-text4{
  display: flex;
  gap: 20px;
}
.footer-textIcon1{
  color: white;
  width: 17.5px;
  height: 20px;
  cursor: pointer;
}
.footer-textIcon2{
  color: white;
  width: 20px;
  height: 19.92px;
  cursor: pointer;
}
.footer-textIcon3{
  color: white;
  width: 21.33px;
  height: 20px;
  cursor: pointer;
}

/* text */
.footer-container{
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  color: white;
}
.footer-text{
  font-weight: normal;
  color: #9CA3AF;
  transition: color 0.3s ease;
  cursor: pointer;
}
.footer-text:hover{
  color: #D1D5DB;
}
.footer-text-number{
  font-size: 24px;
  font-weight: bold;
  line-height: 32px;
}
.footer-section1 .footer-text{
  font-size: 14px;
  font-weight: normal;
  color: #9CA3AF;
  transition: color 0.3s ease;
  cursor:default;
}
.footer-section1 .footer-text:hover{
  color: #D1D5DB;
}